.content p{
	font-size:24pt;
	color:#FFF;
	max-width:40%;
}

.content {
	width:100%;
	min-height:5em;
	margin:0;
	padding: 2em 30% 2em 30%;
	background-color:rgba(21, 112, 7, .7);
	
}

.bloat{
	margin-top:20em;
}

.parallax {
	-webkit-perspective: 10em;
	perspective: 10em;
	height: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective-origin-x:100%;
	perspective-origin-x: 100%;
}

.parallax_layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-perspective-origin-x:100%;
	transform-origin-x: 100%;
}

.parallax_layer_base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index:4;
}

.parallax_layer_back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
	width:100%;
	height:100%;
}

.parallax_layer_back img {
	max-width:100%;
	max-height:100%;
}

.parallax_group {
	position:relative;
	height:500%;
	max-width:100%;
	max-height:100%;
	/*height:90vh;*/
	/*
	-webkit-transform-style: preserve-3d;*/
    /*transform: /*preserve-3d;*//*translate3d(700px, 0, -800px);*/
}

footer {
	background-color:#652C00;
	color:#fff;
	
}