.content p{
	font-size:24pt;
	color:#FFF;
	padding: 1em;
}

.content {
	width:100%;
	min-height:5em;
	margin:0;
	padding: 2em 0 2em 0;
	background-color:rgba(21, 112, 7, .7);
	margin:7em 0 7em 0;
	box-shadow: 10px 10px 5px grey;
	
}

.content img {
	position: relative;
	top: 50%;
	transform: translateY(2.5%);
	max-width:100%;
	max-height:100%;
	/*
	display: inline-block;
	vertical-align:middle;
	*/
}

.bloat{
	margin-top:15em;
}



header {
	background-color:#4A9130;
	color:#fff;
	text-align:center;
	padding:8em;
	margin:0;
}

header h1{
	font-size:5em;
	
}

header h3{
	font-size:16pt;
}

footer {
	background-color:#652C00;
	color:#fff;
	padding:1em;
	
}

#logo {
	max-height: 3em;
}

h2 {
	font-size:36pt;
	color:#fff;
}

li{
	color:#fff;
	font-size:24pt;
}

ul{
	list-style-type:none;
}

h3 {
	
}